@using Microsoft.AspNet.Identity;
<!DOCTYPE html>

<head>
    <link href="Estilo.css" rel="stylesheet">
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Reconocimiento Facial</title>
    @Styles.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/css")

</head>





<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <b class="navbar-brand" style="color:black;">Reconocimiento Facial</b>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li>@Html.ActionLink("Inicio", "Inicio", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Usuario", "HourDetails", "AspNetUsers", new { id = User.Identity.GetUserId() }, new { area = "", @class = "nav-link" })</li>
                <li>@Html.ActionLink("Reconocimiento", "Index", "Camera", new { area = "" }, new { @class = "nav-link" })</li>

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>


    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bootbox/js")
    @RenderSection("scripts", required: false)
</body>
