@model facesesame.Models.RegisterViewModel
@{
    ViewBag.Title = "Signin";
    Layout = "~/Views/Shared/_LayoutNormal.cshtml";
}
<!DOCTYPE HTML>
<head>
    <meta charset="UTF-8">
    <title>Singin</title>
    <link href="Estilo.css" rel="stylesheet">
    @Styles.Render("~/bundles/css")
</head>

<body>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        <br>
        @Html.AntiForgeryToken()
        <br>
        <br>
        <div style="margin:auto; text-align: center">
            <b style="color:white; font-size:x-large;">NUEVO USUARIO</b>
            <br>
            @Html.ValidationSummary("", new { @class = "text-succes" })
            <br>
            <br>
            <p style="padding-right: 110px;">E-mail:</p>
            <p>@Html.TextBoxFor(m => m.Email)</p>
            <p style="padding-right: 90px;">Contraseña:</p>
            <p>@Html.PasswordFor(m => m.Password)</p>
            <p style="padding-right: 25px;">Confirme Contraseña:</p>
            <p>@Html.PasswordFor(m => m.ConfirmPassword)</p>
            <br>

            <br>
            <button type="submit" class="btn btn-warning" value="Register">Registrar</button>
            <br>
            <br>

        </div>
    }
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
